*{
    margin: 0;
    padding: 0;
}
li{list-style-type: none}

body{
    overflow-y: scroll;
    font-family: Roboto, Tahoma, sans-serif;
}
html, body{
    height: 100%;
    min-height: 100%;
}
a{text-decoration: none}
hr{
    margin: 20px 0 30px;
    border: none;
    border-top: #DDD solid 1px;
}
h1{
    margin: 0 30px;
}
.container{
    height: 100%;
    width: 100%;
}
.roulette_container{
    padding: 20px 0 0 0;
    position: relative;
    width: 60%;
    height: 100%;
    background: #F7F7F7;
    margin: 0 auto;
}
/*=== DATA ===*/
ul.data_list{
    margin: 30px;
}
ul.data_list > li{
    margin: 2px 0;
}
ul.data_list > li > span{
    width: 80px;
    display: inline-block;
    font-size: 15px;
    color: #333;
}
ul.data_list > li > span:first-child{
    color: #777;
}
ul.data_list > li > span:last-child{
    color: #333;
}
.jackpot{
    color: #D75553;
    font-weight: 600;
}
/*=== LINKS & BUTTONS ===*/
.links_wrapper{
    margin: 40px 0;
}
ul.links > li{
    margin: 5px 15px;
}
ul.links > li > a{
    font-weight: 400;
    color: #777;
    font-size: 15px;
}
ul.links > li > a:hover{
    color: #111;
}
ul.links > li > a > i{
    font-size: 11px;
    display: inline-block;
    margin:0 5px;
}
button.btn{
    width: 150px;
    height: 30px;
    margin: 5px 30px;
}
select{
    width: 150px;
    height: 30px;
    margin: 5px 30px;
}
