{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="roulette_container">
            <h1>Выберите пользователя</h1>
            <hr>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
