<div class="links_wrapper">
    <hr>
    <ul class="links">
        <li><a href="/info/members" target="_blank"><i class="fa fa-user-o" aria-hidden="true"></i> Статистика участников рулетки</a></li>
        <li><a href="/info/actives" target="_blank"><i class="fa fa-bar-chart" aria-hidden="true"></i> Статистика активных пользователей</a></li>
        <li><a href="/"><i class="fa fa-undo" aria-hidden="true"></i> Выбрать другого пользователя</a></li>
    </ul>
</div>
