{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="roulette_container">
            <h1>statistic</h1>
            <hr>
            <div>
                <ul class="data_list">
                    <li>
                        <span>user:</span>
                        <span>
                            {% if data.user is defined %}
                                {{ data.user }}
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <span>roulette:</span>
                        <span>
                            {% if data.roulette.id is defined %}
                                {{ data.roulette.id }}
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <span>state:</span>
                        <span>
                            {% if data.roulette.state is defined %}
                                {% if constant('App\\Entity\\Roulette::STATE_OVER') == data.roulette.state %}
                                    <div class="jackpot">джекпот</div>
                                {% else %}
                                    {{ data.roulette.state }}
                                {% endif %}
                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
            <div>
                {{ form(form) }}
            </div>
            {% include 'roulette/links.html.twig' %}
        </div>
    </div>
{% endblock %}
